* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #2c597e1e;
  color: #333;
  line-height: 1.5;
  padding: 20px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
}